$test                : #C64537;
$bodycolor           : #C64537; // 
$black           	 : #4A148C; // glow effect
$white               : #222222; // body and menu background
$color_gray          : #151515; // code snippet background
$red                 : #9575CD;
$maroon              : #9575CD;
$color_tuatara       : #9575CD;
$color_shark         : #9575CD; //main text colour
$color_fish          : #308cbc; // link colour
$color_mischka       : #222222; // code outline colour and link underlines
$color_mercury       : #222222; // box outline top
$color_bon_jour      : #222222; //box outline sides
$color_gallery       : #222222; //lines colour 1
$color_stack         : #9575CD; //lines colour 2
$color_alabaster     : #222222;
$color_tundora       : #444;
$color_fuscous_gray  : #555;
$color_alabaster     : #222222;
$color_celeste       : #222222;
$color_pink_swan     : #222222;
$comp-color 	     : #9575CD; 

//button colors
$success			 : #5cb85c;
$warning			 : #dd8338;
$danger				 : #C64537;
$info		         : #308cbc;

//fonts
$font1               : Fira Sans,sans-serif;
$font2               : Inconsolata;
$alt-font            : serif;
$doc-font-size       : 16;
$doc-line-height     : 26;

//media
$small               : "only screen and (max-width: 30em)";
$medium              : "only screen and (min-width: 30.1em) and (max-width: 48em)";
$large               : "only screen and (min-width: 48.1em) and (max-width: 62.5em)";
$notsmall            : "only screen and (min-width: 48em)";
